<h1>Your Cart:</h1>
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>


<h2>Add To Cart</h2>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <label>Product Name:</label>
  <input type="text" name="product"></input>
  <%= submit_tag 'add to cart'%>
<% end %>
